# Environment variables for Gemini Calo project

GEMINI_CALO_API_KEYS=
GEMINI_CALO_PROXY_API_KEYS=
GEMINI_CALO_HTTP_PORT=8000
GEMINI_CALO_LOG_LEVEL=
GEMINI_CALO_LOG_FILE=app.log
GEMINI_CALO_CONVERSATION_SUMMARIZATION_LRU_CACHE=20
GEMINI_CALO_MODEL_OVERRIDE=

# Other environment variables
PY_IGNORE_IMPORTMISMATCH=
PYTEST_THEME=
PYTEST_THEME_MODE=dark
XDG_DATA_HOME=
XDG_CONFIG_HOME=
XDG_CONFIG_DIRS=
XDG_CACHE_HOME=
XDG_STATE_HOME=
DISTUTILS_USE_SDK=
SETUPTOOLS_EXT_SUFFIX=
PYDANTIC_PRIVATE_ALLOW_UNHANDLED_SCHEMA_TYPES=
PYDANTIC_DISABLE_PLUGINS=
PYDANTIC_VALIDATE_CORE_SCHEMAS=
EXCEPTIONGROUP_NO_PATCH=
